---
import works from '~/data/works';
import WorksItem from '../works/WorksItem.astro';
---

<div class="my-[100px] h-full">
  <!-- top line -->
  <div class="layout-border-x"></div>
  <div class="layout-container h-full">
    <div class="grid h-full grid-cols-1 md:grid-cols-3">
      <div class="relative">
        <div class="layout-border-y absolute left-0"></div>
        <div class="layout-border-y absolute right-0"></div>
        <div class="top-0 md:sticky">
          <div class="p-3">
            <h1 class="title-color mb-2 text-3xl font-bold">Works</h1>
            <p class="p-color text-base">
              This list includes both my personal and professional projects,
              showcasing my expertise in developing dynamic web applications
              using JavaScript and React.js.
            </p>
          </div>
          <div class="">
            <div class="layout-border-x hidden md:block"></div>
            <div class="p-3">
              <a
                href={'https://github.com/shaifarfan'}
                class="link font-semibold dark:font-normal"
                target="_blank"
                rel="noopener noreferrer"
              >
                More on GitHub
              </a>
            </div>
            <div class="layout-border-x"></div>
          </div>
        </div>
      </div>
      <div class="relative col-span-2">
        <!-- <div class="flex h-full justify-between"> -->
        <div class="layout-border-y absolute left-0 md:hidden"></div>

        <div class="layout-border-y absolute right-0"></div>
        <div class="">
          <div class="flex flex-col">
            {
              works.map((item, index) => (
                <div>
                  <div>
                    <WorksItem
                      title={item.title}
                      tags={item.tags}
                      description={item.description}
                      projectType={item.projectType}
                      year={item.year}
                      link={item.link}
                      linkText={item.linkText}
                      points={item.points}
                    />
                  </div>
                  {index !== works.length - 1 && (
                    <div class="layout-border-x" />
                  )}
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <!-- left line -->
    </div>
  </div>
  <!-- bottom line -->
  <div class="layout-border-x"></div>
</div>
