---
import Layout from './Layout.astro';
import Prose from '../components/blog/Prose.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  frontmatter: CollectionEntry<'blog'>['data'];
}

const { frontmatter } = Astro.props;
import EmbedYouTube from '../components/EmbedYouTube';
import { Image } from 'astro:assets';
import Link from '~/components/Link';
import { formattedPublishDate } from '~/utils/date';
---

<Layout>
  <div class="py-20">
    <div class="mb-10">
      <h1 class="mb-2 text-4xl font-semibold">{frontmatter.title}</h1>
      <p class="mb-2 text-slate-500">
        {formattedPublishDate(frontmatter.pubDate)}
      </p>
    </div>
    <!-- TODO need to make it optimized -->
    {
      frontmatter.cover && (
        <Image
          src={frontmatter.cover}
          alt={frontmatter.coverAlt || frontmatter.title}
          quality={'high'}
          height={500}
          width={1024}
          class={'h-[500px] w-full object-cover object-center'}
        />
      )
    }
    <div class="mb-10 mt-5 flex justify-between">
      <div>
        <!-- TODO: read time -->
      </div>
      <Link href="https://github.com/shaifarfan/shaifarfan.com" target="_blank"
        >📝 Edit on GitHub</Link
      >
    </div>
    <!-- <p><em>{frontmatter.description}</em></p> -->
    <!-- <p>Written by: {frontmatter.author}</p> -->
    <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

    <Prose>
      {
        frontmatter.tutorial && (
          <>
            <h1 class="not-prose my-5 text-2xl font-bold">Video Tutorial:</h1>
            <EmbedYouTube
              id={frontmatter.tutorial}
              title={frontmatter.title}
              client:load
            />
          </>
        )
      }
      <slot />
    </Prose>
  </div>
</Layout>
